@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

.home {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Nunito";
}

.header{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
  position: fixed;
  margin: 20px;
  z-index: 999;
  width:800px;
}

.buttons{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
  width: 400px;

}
